@import url(ex.css);
/* 예약하기 */
#signUp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: 30px auto;
    padding-bottom: 20px;
}
#signUp fieldset{
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}
#signUp fieldset legend{
    padding: 0 10px;
    font-size: 12px;
    color: #aaa;
}
.user li, .room li{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.user label{
    width: 60px;
}
.user input{
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.user input::placeholder{
    font-size: 12px;
    color: #aaa;
}
/* 예약버튼 */
.btn-wrap{
    text-align: center;
    padding-bottom: 20px;
}
.btn-wrap p{
    padding-bottom: 5px;
    font-size: 12px;
    color: #aaa;
}
.btn-wrap button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #6588bb;
}
.btn-wrap button:hover{
    cursor: pointer;
    background-color: #4e688f;
}