*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
ul, li{
    list-style: none;
}
/* 전체 */
.wrap{
    width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
}
/* 상단 */
header{
    height: 100px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: cornsilk;
}
/* 로고 */
.logo{
    width: 200px;
    line-height: 100px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: palevioletred;
    background-color: pink;
}
nav{
    width: 600px;
    background-color: darksalmon;
}
#topMenu{
    height: 50px;
    display: flex;
    background-color: #7c6d52;
}
#topMenu>li{
    width: calc(100% / 4);
}
#topMenu>li>a{
    width: 100%;
    text-align: center;
    line-height: 50px;
    display: block;
    background-color: rgb(187, 179, 144);
}
#topMenu>li>a:hover{
    color: #fff;
    background-color: #7c6d52;
}
/* 메인 */
main{
    padding: 50px 10px;
    background-color: lightcoral;
}
main section{
    margin-bottom: 30px;
}
/* 전체 설명 */
.description{
    display: flex;
    gap: 20px;
}
h2{
    margin-bottom: 20px;
}
/* 이미지 */
.desc-img{
    width: 450px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
}
.desc-img img{
    width: 100%;
    display: block;
    transition: all 0.2s;
}
.desc-img:hover img{
    transform: scale(1.1);
    filter: blur(2px);
}
/* 자세한 설명 */
.desc-detail{
    width: 600px;
    background-color: antiquewhite;
}
.desc-detail, .desc-detail h3, .desc-detail h4{
    margin-bottom: 10px;
}
.detail-top{
    margin-bottom: 10px;
}
/* 하단 */
footer{
    /* width: 1200px;
    margin: 0 auto; */
    padding: 30px 20px;
    background-color: #333;
}
footer ul{
    display: flex;
    /* gap: 30px; */
    background-color: #7c6d52;
}
.line{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 20px;
    background-color: rgb(190, 178, 142);
}